/*home*/
.back-home {
	position: absolute;
	margin-top: 30px;
	margin-left: 50px;
	cursor: pointer;
	z-index: 99; /*绝对定位下，需要设置高优先级*/
}
.back-home-r {
	position: absolute;
	top: 30px;
	left: 50px;
	cursor: pointer;
	z-index: 99; /*绝对定位下，需要设置高优先级*/
}
.font_13 {
	font-size: 38px;
	font-family: Poppins;
	line-height: 44.5px;
	color: #ffffff;
	text-shadow: 0px 4px 10px #fbdd6f;
}
/*header*/
.header {
	display: flex;
	justify-content: center;
	width: 100%;
}
.text-wrapper_10 {
	position: absolute;
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-left: 100px;
	padding: 16px 0;
	background-image: linear-gradient(180deg, #fbdd6f 0%, #ffd217 100%);
	border-radius: 12px;
	width: 280px;
}
.font_16 {
	font-size: 40px;
	font-family: Poppins;
	line-height: 46px;
	font-weight: 800;
	color: #2c0b6c;
}
.text_22 {
	line-height: 45.5px;
}
/*高亮标签*/
.section_1 {
	padding: 20px 0;
	background-color: #fffefe;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 0px 4px 4px #ffd217;
	width: 200px;
	border: solid 2px #fbdd6f;
	position: absolute;
	left: 100px;
	top: 165px;
	cursor: pointer;
	z-index: 99;
}
.image_1 {
	margin-left: 20px;
	width: 30px;
	height: 30px;
}
.text_2 {
	line-height: 34px;
	font-size: 30px;
	font-family: Poppins;
	line-height: 34px;
	font-weight: 800;
	color: #ffd033;
	margin-left: 10px;
}
/*灰色标签*/
.text-wrapper_14 {
	padding: 20px 0;
	background-color: #f5f0f8;
	border-radius: 10px 0px 0px 10px;
	width: 150px;
	cursor: pointer;
	z-index: 99;
}
/*选择容器*/
.card-container {
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 120px;
	padding: 28px 0;
	background-color: #fce6c6;
	border-radius: 80px;
	width: 1000px;
	height: 620px;
}
.inner-card-container {
	padding: 60px 50px;
	background-color: #fff9ed;
	border-radius: 80px;
	width: 920px;
	height: 550px;
	margin: 0 40px;
	display: flex; /*解决块级元素不能一行显示*/
}